@model ProjectDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="body-content">
    <div class="card">
        <div class="card-header">
            <h3>title</h3>
        </div>
        <div class="card-body">
            <table id="customerTable" class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</body>



